login-view vaadin-vertical-layout{
    background-color: var(--lumo-contrast-15pct);
    box-shadow: var(--lumo-box-shadow-xl);
}

login-view h1{
    text-shadow: 2px 2px 4px #000000;
}

login-view h3{
    margin-top: var(--lumo-box-shadow-xl);
}

login-view .alignCenter {
    align-content: center;
    align-items: center;
    align-self: center;
}