electric-sensor-view {
    background-color: var(--lumo-contrast-10pct);
    box-sizing: border-box;
    display: block;
    font-size: var(--lumo-font-size-m);
    height: 100%;
    overflow: auto;
    padding: var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-l);
}

electric-sensor-view #wrapperDiv {
    display: block;
    background-color: var(--lumo-base-color);
    margin: var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-l);
    box-shadow: var(--lumo-box-shadow-l);
    padding: var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-l);
    max-width: 1524px;
}

electric-sensor-view #verticalLayoutElectric {
    background-color: var(--lumo-contrast-5pct);
    margin-left: var(--lumo-space-l);
    margin-right: var(--lumo-space-l);
    padding-right: var(--lumo-space-l);
    padding-left: var(--lumo-space-l);
    padding-bottom: var(--lumo-space-l);
}

electric-sensor-view #sensorInfoLayout {
    margin-top: 4px;
    margin-left: var(--lumo-space-xl);
    margin-right: var(--lumo-space-s);
}

electric-sensor-view #sensorAttributesH3 {
    margin-top: var(--lumo-space-m);
    margin-bottom: var(--lumo-space-xs);
    align-self: flex-start;
}

electric-sensor-view #typeSpan {
    margin-top: var(--lumo-space-xl);
}

electric-sensor-view .cez_color {
    background-color: #f24f00;
    color: whitesmoke;
    text-align: center;
    border-radius: 4px;
    font-size: var(--lumo-font-size-s);
    display: flex;
    justify-content: center;
    align-items: center;

}