hardwares-view {
  background-color: var(--lumo-contrast-10pct);
  display: block;
  height: 100%;
  width: 100%;
  overflow: auto;
}
hardwares-view .name {
  overflow: hidden;
  text-overflow: ellipsis;
}

hardwares-view .tile {
  background-color: var(--lumo-base-color);
  margin: var(--lumo-space-m) var(--lumo-space-m) var(--lumo-space-s) var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-s) var(--lumo-space-m) var(--lumo-space-m);
  box-shadow: var(--lumo-box-shadow-m);
}

hardwares-view #idTitle {
  padding-top: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
}

hardwares-view #topVerticalLayout {
  padding-top: var(--lumo-space-s);
}

hardwares-view #bottomVerticalLayout {
  margin-left: 16px;
}

hardwares-view .signalDiv {
  align-items: center;
  padding: var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-xs) var(--lumo-space-xl);
  margin-right: var(--lumo-space-l);
}

hardwares-view .signalIcon {
  margin-top:auto;
}

hardwares-view .button {
  margin-top: 36px
}

hardwares-view .smallerFontSize {
  font-size: var(--lumo-font-size-s);
}
