hardwares-view {
  background-color: var(--lumo-contrast-10pct);
  display: block;
  height: 100%;
  overflow: auto;
  padding: var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-l);
}

hardwares-view .overallDiv {
  background-color: var(--lumo-base-color);
  display: block;
  margin: var(--lumo-space-s) var(--lumo-space-s) var(--lumo-space-s) var(--lumo-space-s);
  box-shadow: var(--lumo-box-shadow-l);
  padding: var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-l);
  max-height: min-content;
}

hardwares-view .name {
  overflow: hidden;
  text-overflow: ellipsis;
}

hardwares-view .tile {
  background-color: var(--lumo-base-color);
  margin: var(--lumo-space-m) var(--lumo-space-m) var(--lumo-space-s) var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-s) var(--lumo-space-m) var(--lumo-space-m);
  box-shadow: var(--lumo-box-shadow-m);
}

hardwares-view #idTitle {
  padding-top: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
}

hardwares-view #topVerticalLayout {
  padding-top: var(--lumo-space-s);
}

hardwares-view #bottomVerticalLayout {
  margin-left: 16px;
}

hardwares-view .signalDiv {
  align-items: center;
  padding: var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-xs) var(--lumo-space-xl);
  margin-right: var(--lumo-space-l);
}

hardwares-view .signalIcon {
  margin-top:auto;
}

hardwares-view .button {
  margin-top: 36px
}

hardwares-view .onlineStatusIcon {
  width: 9px;
  height: 9px;
  margin-left: 19px;
  margin-bottom: 4px;
}

hardwares-view .alignLeft {
  align-self: flex-start;
  align-items: flex-start;
  alignment: left;
  margin-bottom: -5px;
  margin-top: -5px;
  margin-left: -15px;
}

hardwares-view .signalImage {
  margin-left: 11px;
  margin-bottom: -2px;
}

hardwares-view .smallerFontSize {
  margin-top: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  font-size: 11px;
}

hardwares-view vaadin-grid {
  font-size: var(--lumo-font-size-l);
  height: 100%;
}

hardwares-view vaadin-grid-filter,
hardwares-view vaadin-grid-filter > * {
  width: 100%;
}

hardwares-view vaadin-grid.v-grid-select-all-checkbox {
  display: none;
}